/* Elementos principales de la página */

body
{
    background: url('../images/fondoo.png') no-repeat;
    background-attachment: fixed;
}

#main_wrapper
{
    width: 900px;
    margin: auto;
}

section h1, footer h1, nav a
{
    font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
}


/* Encabezado */

header
{
    background: url('../images/linea.png') repeat-x bottom;
}

#main_title
{
    display: inline-block;
}

header h1
{
    font-family: 'BallparkWeiner', serif;
    font-size: 2.5em;
    font-weight: normal;
}

#logo, header h1
{
    display: inline-block;
    margin-bottom: 0px;
}

header h2
{
    font-family: Dayrom, serif;
    font-size: 1.em;
    margin-top: 0px;
    font-weight: normal;
}


/* Navegación */

nav
{
    display: inline-block;
    width: 805px;
    text-align: right;
}

nav ul
{
    list-style-type: none;
}

nav li
{
    display: inline-block;
    margin-right: 15px;
}

nav a
{
    font-size: 1.2em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
}


/* Banner */

#banner_image
{
    margin-top: 15px;
    height: 200px;
    border-radius: 5px;
    background: url('../images/suave.png') no-repeat;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
}


/* Cuerpo */


article h1
{   
    position: relative;
    text-align: center;
}

article h1{
    width: 30%;
    position: relative;
    text-align: center;
    align-items: center;
    background-color: #000000;
    margin: 15px 300px;
    padding: 30px;
    border: solid hsl(0, 0%, 100%) ;
}

article h1 {
    font-size: 1.3em;
    color: hsl(56, 100%, 50%);
    padding-bottom: 22px;
    text-decoration: none;
}

/* galeria */

.gallery{
    background: transparent;
}

.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-galeria{
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 25px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.imagen-light{
    position: fixed;
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.show{
    transform: scale(1);
}

.agregar-imagen{
    object-fit: cover;
    width: 80%;
    border-radius: px;
    transform: scale(0);
    transition: transform .3s .2s;
}

.showImage{
    transform: scale(1);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}










/* Pie de página */

footer p
{
    font-size: 0.8em;
}

footer h1
{
    font-size: 1.1em;
}

#tweet, #my_pictures, #tienda, #horario
{
    display: inline-block;
    vertical-align: top;
}

#tweet
{
    width: 23%;
}

#my_pictures
{
    width: 23%;
}

#tienda
{
    width: 22%;
}

#horario
{
    width: 24%;
}


.sociales{
    display: flex;
    justify-content: space-around;
    padding: 0;
    background-color: transparent;
    
  }

  #copy {
      text-align: center;
  }

#pago {
    text-align: center;
}

.social-media{
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display:  inline-block;
    margin-left: 30px;
    width: 90px;
    height: 80px;
    border: 1px solid #000000;
    border-radius: 25%;
    text-align: center;
    color: #000000;
}

.social-media-icon:hover{
    background: #ffe23d;    
    color: rgb(27, 15, 0);
}

.social-media-icon i{
    font-size: 60px;
    line-height: 80px;
}

